.date-interval {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 32px auto;
  padding-bottom: 34px;
  border-bottom: $border-main;
}

.date-input {
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 340px;
  border: $border-main;
  border-radius: 4px;
  display: flex;
}

.date-first {
  padding: 5px 0 5px 15px;
}

.date-last {
  padding: 5px 0 5px 15px;
  border-left: $border-main;
}

.icon-calendar {
  color: $color-dark-gray;
  padding-right: 15px;
}

.data-table{
  color: $color-dark-gray;
}

.table-inner span {
  float: right;
  color: $color-black;
}

.table-inner {
  margin: 0 50px;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 35px;
  padding-top: 10px;
  border-bottom: $border-main;
}

.page-subtitle {
  padding: 70px 0 30px 20px;
  color: $color-dark-gray;
  font-size: 18px;
}

canvas {
  margin-bottom: 24px;
}

@media (max-width: 625px) {
  .date-interval {
    flex-direction: column;
  }

  .date-input {
    width: 220px;
  }

  .btn-reset {
    margin-top: 30px;
  }
}

@media (max-width: 532px) {
  .table-inner{
    min-width: 151px;
    margin: 0 auto;
  }

  .page-subtitle {
    padding-top: 35px;
  }
}