.sidebar {
  background: $color-black;
  position: fixed;
  width: 190px;
  height: 100%;
  flex-direction: column;
  top: 0;
  right: auto;
  line-height: 40px;
  text-align: left;
  transition: $transition;
}

.sidebar.show {
  width: 60px;
  transition: $transition;
}

.show .logo-img,
.show .menu-page,
.show .menagment-title,
.show .manager {
  display: none;
}

.show .hamburger {
  float: left;
}

.show .menagment {
  padding: 10px 0 0 10px;
}

.show .menu {
  margin-top: 35px;
}

.show .manager-dot {
  top: 1px;
  right: 1px;
}

.logo {
  padding: 15px 0 0 20px;
  width: 100%;
  justify-content: space-between;
  transition: $transition;
}

.hamburger {
  float: right;
  display: block;
  transition: $transition;
  padding-right: 18px;
}

.hamburger:hover .menu-hamburger {
  background-color: $color-light;
}

.menu-hamburger {
  width: 18px;
  height: 2px;
  background-color: $color-dark-gray;
  margin: 6px 0;
}


.menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: $transition;
}

.menu-link {
  color: $color-dark-gray;
  display: block;
  text-decoration: none;
  padding-left: 19px;
  font-weight: $font-regular;
  cursor: pointer;
  transition: $transition;
  text-decoration: none;
}

.menu i {
  vertical-align: middle;
}

.menu-link:hover {
  border-left: $color-orange 4px solid;
  padding-left: 15px;
  color: $color-light;
  background-color: $color-dark;
}

.menu-link.active {
  border-left: $color-orange 4px solid;
  padding-left: 15px;
  color: $color-light;
  background-color: $color-dark;
}

.menu-page {
  padding-left: 11px;
  transition: $transition;
}

.menagment {
  border-top: $border-menu;
  color: $color-dark-gray;
  padding: 0 0 0 19px;
  font-weight: $font-regular;

  &-title p{
    margin: 15px 0 0 5px;
  }
}

.manager {
  position: absolute;
  display: inline;
  padding-left: 12px;
  color: $color-link;
  font-weight: $font-soft;
  margin: 0;
}

.managers {
  position: relative;
}

.manager-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $color-green;
  top: 1px;
  left: 32px;
  position: absolute;
}

@media (max-width: 400px) {
  .sidebar {
    width: 60px;
    transition: $transition;
  }

  .logo-img,
  .menu-page,
  .menagment-title,
  .manager {
    display: none;
  }

  .hamburger {
    float: left;
  }

  .menagment {
    padding: 10px 0 0 10px;
  }

  .menu {
    margin-top: 35px;
  }

  .manager-dot {
    top: 1px;
    right: 1px;
  }

  .sidebar.show {
    width: 190px;
    transition: $transition;
  }

  .show .logo-img,
  .show .menu-page,
  .show .menagment-title,
  .show .manager {
    display: inline-block;
  }

  .show .hamburger {
    float: right;
  }

  .show .menagment {
    padding: 0 0 0 19px;
  }

  .show .menu {
    margin-top: 5px;
  }

  .show .manager-dot {
    left: 32px;
  }
}