.dashboard {
  background: $color-background;
  font-family: $main-font;
  font-size: $font-size;
}

.page-title {
  margin: 0;
  text-align: left;
  font-size: 16px;
  color: $color-dark-gray;
  padding: 20px 0 20px 20px;
  border-bottom: $border-main;
}